.container {
  position: relative;
  overflow: hidden;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  width: 100%;
}
.header {
  width: 100%;
  padding: 20px 80px;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header a {
  text-decoration: none;
  color: #191b1f;
  font-size: 1.1rem;
}
.header p.title {
  font-size: 2rem;
}

.backButton a {
  display: flex;
  top: 120px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #191b1f;
  text-decoration: none;
  width: 100%;
  max-width: 80px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.backButton p {
  color: #050607;
  cursor: pointer;
}
.form {
  padding: 20px;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input {
  position: relative;
}
.input input {
  width: 100%;
  padding: 10px 25px;
  border: 1px solid #818899;
  outline: 2px solid transparent;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-top: 2rem;
}
.input input:focus {
  outline-color: #4749be;
}
.input p {
  position: absolute;
  top: 0;
  font-weight: 400;
}
.input p span {
  font-size: 0.7rem;
  color: #d53250;
}
#giw input:focus ~ p {
  color: #4749be;
}
#dbix input#email:focus ~ p {
  color: #4749be;
}
.input select {
  width: 100%;
  padding: 10px 25px;
  border: 1px solid #818899;
  outline: 2px solid transparent;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-top: 2rem;
}
.input select:focus {
  outline-color: #4749be;
}
.input select option {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  color: #191b1f;
  outline: none;
  border: none;
}
.jebt button {
  width: 100%;
  padding: 10px 25px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #8d90e9;
  color: #050607;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
}
.jebt button:hover {
  background-color: #4749be;
  color: #ffffff;
}
.jebt button#jebt_btn_disabled {
  opacity: 0.4;
  pointer-events: none;
}
.toastContainer {
  position: fixed;
  bottom: 20px;
  right: -100%;
  padding: 15px;
  /* border: 1px solid ; */
  color: rgb(55, 58, 26);
  background-color: rgb(222, 235, 110);
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.toastContainer#active {
  right: 20px;
}
.toastContent p {
  display: flex;
  align-items: center;
}

.form_watermark span {
  font-size: 0.8rem;
  color: #a51a34;
}
@media screen and (max-width: 449px) {
  .header p.title {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 400px) {
  .header p.title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 348px) {
  .header p.title {
    font-size: 1.3rem;
  }
}
