.header {
  width: 100%;
  position: fixed;
  padding: 20px 80px;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 10px 50px -20px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.tempLogo h4 {
  font-weight: 500;
  font-size: 1.2rem;
  color: #191b1f;
}
.tempLogo h4 span {
  color: #4042b5;
}
.tempLogo a {
  text-decoration: none;
}
.Links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.Links a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
  color: #191b1f;
  font-weight: 500;
}
.Links a:hover {
  color: #4042b5;
}
.colRight {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.wrapper {
  padding: 20px 80px;
  margin-top: 5rem;
}
.wrapper select {
  width: 100%;
  max-width: 150px;
  padding: 8px 10px;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  font-size: 1.1rem;
}
.events {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.events .input {
  width: 100%;
  position: relative;
}
.events .input svg {
  position: absolute;
  right: 10px;
  top: 15px;
}
.events .input input {
  width: 100%;
  padding: 13px 25px;
  border: none;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
  border: 1.5px solid #818899;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.events .input input:focus {
  border-color: #4749be;
}
.cri #button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 13px 25px;
  border: none;
  outline: none;
  background-color: #8d90e9;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  color: #050607;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.cri #button:hover {
  background-color: #4749be;
  color: #ffffff;
}
.table_container {
  margin-top: 1rem;
  width: 100%;
}
.table_column {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: auto;
  background-color: #e6e9f1;
}
.columns {
  width: 100%;
  padding: 5px;
}
.table_rows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  overflow-x: auto;
}
.rows {
  width: 100%;
  border: 1px solid #b1b9cc;
  padding: 5px;
}
.rows span {
  font-size: 0.8rem;
  /* white-space: nowrap; */
}
@media screen and (max-width: 506px) {
  .events {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .cri {
    width: 100%;
  }
  .cri #button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
